<div class="modal_wrap_noesis">
  <div class="modal_overlay_noesis">
  </div> <!--modal_overlay-->
  <div class="vertical-offset_noesis">
    <div class="modal_box_noesis">
      <%= image_tag 'modal_close.png', :class => 'close_modal' %>
      <div id="noesis_left_arrow" class="left_arrow">
        <%= image_tag 'arrow_left.png' %>
      </div>

      <div class="modal_container">

        <div class="modal_banner">
          <a href="http://hereirealized.herokuapp.com/" target="blank"><div id="noesis_link_button" class="modal_buttons">
            <p>Here I Realized...</p>
          </div></a>
        </div> <!-- modal_banner-->

        <div id="noesis_about_page" class="about_page">
          <div class="about_content">
            <p>
              For my last project at WDI, my group and I created a socially-networked discory tool that encourages the user to upload photos (from either their phone or their computer), attached caption to it and plot it on a map.  Additionally, users can have friends and followers.  We also created an augmented reality hack for the browser on an iPhone that allows the user to see plotted photos around them along the bearing of the phone, within a certain radius.
              <br>
              <br>
              <a href="http://hereirealized.herokuapp.com/" target="blank">Play around with it here on Heroku!</a>
            </p>
          </div>
        </div>
      </div> <!-- modal_container -->

    </div> <!--modal_box-->
  </div> <!--vertical-offset-->
</div> <!--modal wrap -->