<div class="modal_wrap_todo">
  <div class="modal_overlay_todo">
  </div> <!--modal_overlay-->
  <div class="vertical-offset_todo">
    <div class="modal_box_todo">

      <%= image_tag 'modal_close.png', :class => 'close_modal' %>

      <div id="todo_right_arrow" class="right_arrow">
        <%= image_tag 'arrow_right.png' %>
      </div>

      <div id="todo_container" class="modal_container">
        <div class="modal_banner">
          <a href="http://toms-todo.herokuapp.com/" target="blank"><div id="todo_link_button" class="modal_buttons">
            <p>Tom's Todo List</p>
          </div></a>
        </div> <!-- modal_banner-->
        <div id="todo_about_page" class="about_page">
          <div class="about_content">
            <p>
              For my second project at <a href="https://generalassemb.ly/education/web-development-immersive/san-francisco" target="blank">General Assembly's Web Development Immersive (WDI)</a> I created a responsive todo list using only CSS, JavaScript and jQuery.  With this list, one can easily switch between days, change colors schemes, flip the card, and add and delete tasks.
              <br>
              <br>
              <a href="http://toms-todo.herokuapp.com/" target="blank">Play around with it here on Heroku!</a>
            </p>
          </div>
        </div>
      </div> <!-- modal_container -->

    </div> <!--modal_box-->
  </div> <!--vertical-offset-->
</div> <!--modal wrap -->




