$nav_color: #222;
$body_color: #ecf0f1;
$nav_font_color: white;
$nav_height: 150px;
$name_font: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
$name_font_weight: 100;
$name_font_color: #222;
$name_font_size: 145px;
$font: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
$font_weight: 100;
$project_hover: #f03;
$profile_hover: #f03;

#container {
  width: 1500px;
  height: 695px;
  overflow: hidden;
  background-color: $body_color;
}

#name {
  h1 {
    font-family: $name_font;
    font-weight: $name_font_weight;
    font-size: $name_font_size;
    margin: -10px 0 0 0;
    letter-spacing: -7px;
    text-wrap: none;
    color: $name_font_color;
    position: absolute;
    top: 0px;
    left: 360px;
    display: inline-block;
  }
}

#side_nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 220px;
  height: 100%;
  background-color: $nav_color;
  padding-left: 20px;
  padding-right: 15px;
  -webkit-box-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    1px 0px 0px rgba(0, 0, 0, 1);
  box-shadow:         1px 0px 0px rgba(0, 0, 0, 1);

  #image_container {
    height: $nav_height;
    #profile_pic {
      border: 1px solid;
      height: $nav_height;
      width: $nav_height;
      border-radius: $nav_height/2;
      background-image: url('profile_pic2.png');
      margin: 15px auto;
      #resume {
        visibility: hidden;
        margin: 53px 0 0 -1px;
        text-align: center;
        font-family: $font;
        font-weight: bold;
        font-size: 20px;
      }
    }
    #profile_pic:hover {
      background-image: none;
      background-color: $profile_hover;
      border: 1px solid $profile_hover;
      #resume {
        visibility: visible;
        a {
          text-decoration: none;
          color: #ecf0f1;
        }

      }
    }
  }

  .texts {
  margin: 10px;
  font-family: $font;
  font-weight: $font_weight;
  font-size: 13px;
  text-align: center;
  color: $nav_font_color;
  }
  .blurb {
    font-size: 15px;
    margin: 10px;
  }
  hr {
    width: 60%;
  }
  #nav_blurb,
  #nav_technologies,
  #nav_icons {
    width: 100%;
  }
  // #nav_blurb {
  //   height: 58px;
  // }
  #nav_technologies {
    height: 155px;
    margin-bottom: -25px;
    a {
      text-decoration: none;
      color: orange;
    }
  }
  .icon_containers:hover {
    opacity: 0.6;
  }
  .icon_containers {
    width: 100%;
    height: 50px;
    margin-left: 35px;
    .icon {
      height: 50px;
      width: 50px;
      float: left;
      display: inline-block;
    }
    .icon_text {
      height: 50px;
      line-height: 32px;
      margin-left: 10px;
      display: inline-block;
      p {
        font-family: $font;
        font-weight: $font-weight;
        font-size: 15px;
        color: white;
        text-align: center;
      }
    }
  }
}

#projects_container {
  position: absolute;
  top: 150px;
  left: 265px;
  width: 80%;
  height: 460px;
  overflow: hidden;
  .projects {
    width: 280px;
    height: 280px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    border: 4px solid;
    img {
      border-radius: 10px;
    }
  }
  #todo_project {
    background-image: url('blue_cropped.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  #beatenpath_project {
    background-image: url('thebeatenpath_cropped.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 328px;
  }
  #noesis_project {
    background-image: url('noesis_cropped.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 650px;
  }
  #todo_project:hover,
  #beatenpath_project:hover,
  #noesis_project:hover {
    background-image: none;
    background-color: $project_hover;
    border: 4px solid $project_hover;
  }
}

